extends layout
include mixins/_profileForm
include mixins/_appCard

block content
    .inner
        //- pre= h.dump(applications)

        h2 My Applications 

        table(style='width:100%', border='1')
                tr      
                    th Name
                    th Dog
                    th Status
                each app in applications
                    +appCard(app)
        
        h2 My Profile
        +profileForm
        
