extends layout



block content
    
    include mixins/_storeForm
    include mixins/_applicationForm

    - const age = h.moment().diff(user.birthDate, 'years')
    
    if age >= 24
        .inner 
            h2= title
            +applicationForm(application, dogs)
    if age < 24
        .inner 
            h2 I'm sorry! You must be 24 or over to adopt
            
