extends layout

include mixins/_storeCard

block content
    .inner
        h2 Current Applications
        .stores
        
        table(style='width:100%', border='1')
                tr      
                    th Name
                    th Dog
                    th Status
                each app in applications
                    +storeCard(app)

                