mixin registerForm()
    form.form(action="/register" method="POST")
        h2 Create Account
        label(for="name") Name
        input(type='name' name='name')
        label(for="email") Email
        input(type='email' name='email')
        label(for="password") Password
        input(type='password' name='password')
        label(for="password-confirm") Confirm Password
        input(type='password' name='password-confirm')
        label(for="profile.occupation") Occupation
        input(type='profile.occupation' name='profile.occupation')
        label(for="phone") Phone Number
        input(type='phone' name='phone')
        label(for="birthDate") Birth Date (YYYY-MM-DD)
        input(type='birthDate' name='birthDate')
        label(for="address") Address
        input(type="text" id="address" name="location[address]")
        label(for="lng") Address Lng
        input(type="text" id="lng" name="location[coordinates][0]")
        label(for="lat") Address Lat
        input(type="text" id="lat" name="location[coordinates][1]")
        label(for="otherAnimals") Please describe all other animals in your home:
        input(type='profile.otherAnimals' name='profile.otherAnimals')
        label(for="household") Please describe all people who live in your home:
        input(type='profile.household' name='profile.household')
        
        ul.tags
            .tag.tag__choice
                input(type="checkbox" name="profile.children" checked=false)
                label(for="profile.children") Do you have, or are you planning to, have children?
                input(type="checkbox" name="profile.allergies" checked=true)
                label(for="profile.allergies") Do you, or anyone in your home, have dog allergies?
                
    
        input.button(type="submit" value="Create Account")




